@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700);
/* CORES BASE */
/* Tipografia */
/* MIXINS */
.cor1 {
  color: #464648;
}
.cor2 {
  color: #5dc570;
}
.cor3 {
  color: #100f0d;
}
.cor4 {
  color: #e8e8e7;
}
body {
  background: #464648;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 40px;
  color: #e8e8e7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
a:visited {
  color: #929295;
}
a:hover {
  color: #e0e0e0;
  text-decoration: none;
}
.menu {
  width: 100px;
  position: absolute;
  margin-left: -220px;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.menu ul li {
  font-size: 28px;
  color: #929295;
}
.menu ul li.active a {
  font-size: 28px;
  color: #e0e0e0;
}
.menu-horizontal {
  position: relative;
}
.menu-horizontal ul {
  padding: 0;
}
.menu-horizontal ul li {
  display: inline !important;
  padding-right: 5px;
}
.menu-horizontal ul li a {
  font-size: 20px;
  display: inline-block;
}
.menu-horizontal ul li.active a {
  color: #e0e0e0;
}
.fixed {
  position: fixed;
  z-index: 9;
}
.no-margin {
  padding: 0;
}
.conteudo {
  border-left: 1px solid #5f5f62;
  padding-left: 60px;
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  .conteudo {
    padding-left: 0;
    border: 0;
  }
}
.divider {
  height: 100px;
}
.divider2 {
  /*height:1000px;*/
}
.divider3 {
  height: 500px;
}
h1.slogan {
  font-size: 90px;
  font-weight: 400;
  margin: 0;
  color: #c6c6c7;
}
.bola {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #5f5f62;
  position: absolute;
  margin-left: -80px;
}
.transparencia {
  opacity: 0.65;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
}
.andre {
  background: url(../img/faces/andre.jpg);
}
.gabi {
  background: url(../img/faces/gabi.jpg);
}
.pessoa {
  position: relative;
  height: 120px;
  margin-bottom: 20px;
}
.rosto {
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
  padding: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.info {
  position: relative;
  float: left;
  margin-left: 20px;
  width: 400px;
}
@media (max-width: 991px) {
  .info {
    width: 150px;
  }
}
.info h2 {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .info h2 {
    font-size: 16px;
  }
}
.info p {
  line-height: 1.4;
}
@media (max-width: 991px) {
  .info p {
    font-size: 14px;
  }
}
.email {
  text-align: left;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rodape {
  border-top: 1px solid #5f5f62;
  height: 20px;
}
.pos0 {
  background-position-y: 0px;
}
.pos1 {
  background-position-y: -120px;
}
.pos2 {
  background-position-y: -240px;
}
.pos3 {
  background-position-y: -360px;
}
.pos4 {
  background-position-y: -480px;
}
.pos5 {
  background-position-y: -600px;
}
.pos6 {
  background-position-y: -720px;
}
.pos7 {
  background-position-y: -840px;
}
.pos8 {
  background-position-y: -960px;
}
